body {
    font-family: 'Lobster Two', cursive;
}

section {
    height: 500px;
    background-color: white;
}

.hero {
    background-color: #000000;
    height: 100vh;
    color: white;
    font-size: 35px;
}

footer {
    height: 500px;
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 400px;
    font-size: 20px;
}

ul.show {
    display: block;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 70px;
    margin: 0px;
}

h2 {
    font-size: 40px;
}

p {
    margin: 0px;
    font-size: 30px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 150px;
}

.button {
    width: 200px;
    height: 50px;
    background-color: skyblue;
    border-radius: 25px;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ff0000;
    color: white;
}

.button:active {
    background-color: #008000;
    color: black;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 90px;
    margin: 20px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.myimage {
    width: 200px;
    border-radius: 100px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 200px;
    height: 400px;
    box-shadow: 5px 5px 20px rgb(161, 158, 158);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and ( max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.project-image1 {
    margin-top: 25px;
    width: 160px;
    border-radius: 125px;
}

.project-image2 {
    margin-top: 25px;
    width: 200px;
    border-radius: 80px;
}

.project-image3 {
    margin-top: 25px;
    width: 210px;
    border-radius: 100px;
}

.project-image4 {
    margin-top: 25px;
    width: 145px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: rgb(247, 3, 3);
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .project-container {
    display: flex;
    justify-content: space-around;
}
}
